### Go ###
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

### Rust ###
debug/
target/
Cargo.lock
**/*.rs.bk
.cargo/

### Docker ###
docker-compose.override.yml

### VSCode ###
.vscode/
.history/

### OS ###
# macOS
*.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.log
*.cab
*.msi
*.msix
*.msm
*.msp
*Zone.Identifier


